In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/cleaned_data_2y.csv')

In [4]:
# convert 'Date' column to datetime values
df['Date'] = pd.to_datetime(df['Date'].str[:10])

In [5]:
ratios = list(df.columns)

In [6]:
ratios.pop(0)

'Date'

In [7]:
ratios

['ALB_ZBRA', 'NRG_CPRT', 'DE_BXP', 'NRG_STE', 'NRG_XRAY', 'SO_NLOK', 'PEG_O']

In [8]:
tickers = pd.read_excel('test_tickers/ticks.xlsx')

In [9]:
tickers.head()

  ticker                         name  number            industry
0      A     Agilent Technologies Inc       3          Healthcare
1    AAL  American Airlines Group Inc       6         Industrials
2    AAP       Advance Auto Parts Inc       2  Consumer Cyclicals
3   AAPL                    Apple Inc       1          Technology
4   ABBV                   Abbvie Inc       3          Healthcare

In [10]:
tuple_list = list(tickers.itertuples(index=False))

In [11]:
long_name = {}
short_name = {}

for ratio in ratios:
    long = ratio.split('_')[0]
    short = ratio.split('_')[1]
    for item in tuple_list:
        if long in item:
            long_name[long] = item[1]
    for item in tuple_list:
        if short in item:
            short_name[short] = item[1]

In [12]:
short_name

{'ZBRA': 'Zebra Technologies Corp',
 'CPRT': 'Copart Inc',
 'BXP': 'Boston Properties Inc',
 'STE': 'STERIS plc',
 'XRAY': 'DENTSPLY SIRONA Inc',
 'NLOK': 'NortonLifeLock Inc',
 'O': 'Realty Income Corp'}